body{
    max-width:960px;
    margin:auto;
    /* background: #4aaaa5; */
}

.nav{
    background: #4aaaa5;
    padding: 20px;
    font-size: 50px;
    color: #eeee;
    font-weight: bold;
}

.image {
    height: 200px;
    width: 200px;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    float: left;
    margin: 20px;
  }

/* .profile {
    max-height: 400px;
    max-width: 400px;
} */

.nav-about{
    border-right: 1px solid #dddddd;
}

.nav-portfolio{
    border-right: 1px solid #dddddd;
}

.nav-link{
    font:50px;
}

.pictures{
    font-size: 20px;
    max-width: 700px;
    max-height: 700px;
    margin: 20px;

}

.title{
    border-bottom: solid grey 2px;
    margin-bottom: 10px;
}

.stuff{
    padding: 20px;
    font-size: 20px;
    color: black;
}

/* .footer{
    background: #4aaaa5;
    padding: 40px;
    position: bottom absolute sticky;
    height: 50px;
    margin-top: -50px;
} */

.card{
    background: #4aaaa5;
    margin-bottom: 20px;
}

div.card-body{
    padding: 20px;
}

.container{
    background: #eeeeee;
}